In [1]:
soban = 10

In [2]:
print(soban)

10

In [3]:
print('I love machine learning')

I love machine learning

In [4]:
t = [1,2,3]

In [5]:
print(t)

[1, 2, 3]

In [6]:
t

[1, 2, 3]

In [7]:
t[0]

1

In [8]:
t[0] = 4

In [9]:
t[0]

4

In [10]:
t

[4, 2, 3]

In [11]:
t = (1,2,3)

In [12]:
t

(1, 2, 3)

In [13]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [16]:
set = {1,2,3,4}

In [17]:
set = {1,1,1,2,2,3,3,4,4}

In [18]:
set

{1, 2, 3, 4}

In [19]:
if 1<3:
    print('yes')

yes

In [20]:
if 1>3:
    print('yes')
else:
    print('no')

no

In [23]:
numbers = {1,2,3,4,5,6,7}
for n in numbers:
    print(n)

1
2
3
4
5
6
7

In [24]:
list = [1,2,3,4,5,6]
l = []
for n in list:
    l.append(n**2)

In [25]:
l

[1, 4, 9, 16, 25, 36]

In [26]:
l = in range[4]

SyntaxError: invalid syntax (<ipython-input-26-9a463d41252d>, line 1)

In [27]:
list =range(10)

In [28]:
list

range(0, 10)

In [29]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [32]:
def my_func(a):
    print(a)

In [34]:
my_func('kjhhg')

kjhhg

In [35]:
def square(num):
    return num**2

In [38]:
out = square(2)
print(out)

4

In [40]:
l = lambda var:var**2

In [42]:
l(5)

25

In [1]:
l = [1,2,3]

In [2]:
pwd

'/Users/mdsobanjawaid/Desktop/MyGit/Python Programming'

In [3]:
print 'hello'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello')? (<ipython-input-3-5a1ef41e7057>, line 1)